.frase {
   color: #566573;
   padding: 50px;
   margin-left: 50px;
   margin-top: 75px;
   font-size: 1.7em;
}


.color-form {
   background-color: #fff;
   box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
   padding: 25px;
   margin-left: 15%;
   margin-top: 22%;
   width: 45%;
}

.space {
   margin-bottom: 15px;
}

.form-edit {
   border-radius: 7px;
   width: 100%;
   border-color: lightgray;

}

.text-dev {
   margin-left: 20px;
   color: #1b98e0;
   font-size: 1.4em;
}

.block-table {
   margin-left: 95px;
   padding: 7px;
}


.button-edit {
   margin-top: 20px;
   border: brown;
   width: 35%;
   align-items: center;
}

.naoconta {
   color: #1b98e0;
   font-size:12px;
   margin-top: 5px;
}

.title-form {
   display: flex;
   margin-bottom: 10px;
}

#btn {
   border-radius: 15px;
   color: #1b98e0;
   background-color: white;
   width: 200px;
   height: 45px;
   
   margin-top: 15px;
   border-style: solid;
   border-color: #1b98e0;
   text-align: center;
   font-size: 17px;
}
 
 #btnlogin {
   border-radius: 15px;
   color: #1b98e0;
   background-color: white;
   width: 175px;
   height: 45px;
   border-style: solid;
   border-color: #1b98e0;
   font-size: 17px;

}

#btnlogin:hover{
   background-color: rgb(243, 243, 243);
}
 
#btn:hover {
   background-color: rgb(243, 243, 243);
}


