.title-span {
   margin-left: 20px;
   font-size: 15px;
   font-weight: bold;
   margin-top: 4px;
}

.span-side {
   margin-left: 10px;

}

.span-tec {
   margin-bottom: 10px;
   margin-left: 20px;
   font-weight: bold;
}